*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
    bottom: 8rem;
  
}

.logo img {
   width: 8rem; 
   height: 7rem;
}

.nav-links {
    display: flex;
    letter-spacing: 2px;
    margin: 1rem;
    margin-left: 5rem;
}
.nav-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    margin: 1.5rem;
    position: relative;
    left: 3rem;
    padding: 0 10px;
}

.nav-links a:after{
    content: "";
    position: absolute;
    background-color: gray;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #000;
}

.nav-links a:hover:after{
    width: 100%;
}


.team{
    position: relative;
    width: 100%;
    height: 160vh;
    background: url(./IMAGES/SL_042620_30310_36.jpg);
    background-size:cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-content{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    align-items: center;
    gap: 6rem;
    text-align: center;
    margin-top: 8rem;
}

.team-content img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-bottom: 10px;
}

.center h1{
    color: black;
    font-size: 3rem;
    position: relative;
    top: 90px;
    text-align: center;
    font-weight: lighter;
}

.box{
    padding: 30px;
    background: rgb(226, 232, 238);
    border-radius: 5px;
    transition: all .38s ease;
}

.box h3{
    font-size: 13px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.box h4{
    font-size: 14px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

.icons i{
    display: inline-block;
    color: black;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    transition: all .38s ease;
}
.team1{
    position: relative;
    padding-bottom: 800px;
    width: 100%;
    height: 300vh;
    background: url(./IMAGES/SL_042620_30310_36.jpg);
    background-size:cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.team-content1{
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    align-items: center;
    gap: 6rem;
    text-align: center;
    margin-top: 5rem;
}

.team-content1 img{
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.center1 h1{
    color: black;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    position: relative;
    top: 330px;
}


.icons i:hover{
    transform: scale(1.2);
}

.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    
}

@media(max-width: 1240px){
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .center h1{
        font-size: 3.2rem;
    }
}