*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(255,255,255,0.4);
    
}

.logo img {
   width: 8rem; 
   height: 7rem;
}

.nav-links {
    display: flex;
    letter-spacing: 2px;
    margin: 1rem;
    margin-left: 5rem;

}
.nav-links a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 1.5rem;
    position: relative;
    left: 3rem;
    padding: 0 10px;
}

.nav-links a:after{
    content: "";
    position: absolute;
    background-color: gray;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #000;
}

.nav-links a:hover:after{
    width: 100%;
}

.main{
    width: 100vw;
    height: 100vh;
    background: url(./Images/pexels-jonas-svidras-785418.jpg); 
    opacity: 85%;
    background-size:cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}

.clg-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 750px;
    top: 180px;
    font-size: 10px;
    border: 0.1rem;
    background-color: rgba(255,255,255,0.6);
    height: 5rem;
    width: 29rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 185px;
    top: 120px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 232, 238);
}
.container{
    width: 100vw;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 70vh;
    height: 75vh;
    position: relative;
    left: 40rem;
    top: 3rem;
    background-color: rgb(226, 232, 238);
    border: 0.1rem solid white;
}

/* .side-container{ 
    width: 50%;
    height: 20rem;
    position: relative;
    right: 5rem;

}*/
.abt-head{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 570px;
    height: 130px;
    bottom: 180px;
    right: 15rem;
    font-size: 1.5rem;
    color: black;
    border: 0.1rem solid white;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
}

 /* .bottom-container{  
    width: 50%;
    height: 20rem;
    position: relative;
    right: 5rem;

}*/

.abt-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 75px;
    left: -45rem;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    border: 0.1px solid rgba(255,255,255,0);
    box-sizing: border-box;
    color: black;
}


.contact-container{
    position: relative;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(./IMAGES/SL_042620_30310_36.jpg);
    background-size: cover;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-content{
    position: relative;
    bottom: 14rem;
    right: -14rem;
    font-size: 21px;
}

.right-container{
    height: 70vh;
    width: 90vh;
    left: 10rem;
    bottom: 5rem;
}

.right-content1{
    position: relative;
    width: 200px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10rem;
    top: 3rem;
    border: 0.1rem solid;
    background-color: rgba(255,255,255,0.2);
}

.mobile1{
    position: relative;
    font-size: 30px;
    left: 4rem;
    bottom: 3.5rem;
}
.right-content2{
    position: relative;
    width: 400px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 7rem;
    bottom: 7.665rem;
    border: 0.1rem solid;
    background-color: rgba(255,255,255,0.2);
}

.ping{
    position: relative;
    bottom: 3.5rem;
    left: 6.665rem;
    font-size: 30px;
}

.right-content3{
    position: relative;
    width: 200px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10rem;
    bottom: 7rem;
    border: 0.1rem solid;
    background-color: rgba(255,255,255,0.2);
}

.mobile2{
    position: relative;
    bottom: 3.5rem;
    font-size: 30px;
    left: 4rem;
}

.right-content4{
    position: relative;
    width: 400px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 7rem;
    bottom: 17.665rem;
    border: 0.1rem solid;
    background-color: rgba(255,255,255,0.2);
}

.mail-logo{
    position: relative;
    bottom: 3.5rem;
    left: 5.5rem;
    font-size: 30px;
    
}

@media(max-width: 1240px){
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .center h1{
        font-size: 3.2rem;
    }
}

@media only screen and (max-width:768px){

    .container{
        flex-direction: column;
        width: 100%;
        margin:  0 20px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 90%;
        margin: 0;
        
    }
}

